Loops (for, while, nested loops)
1. Print the first 10 natural numbers using a while loop.
2. Print the multiplication table of a given number using a for loop.
3. Use nested loops to print the following pattern:
*
**
***
****
*****

In [1]:
i=1
while(i<=10):
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [2]:
n=int(input("Enter the number: "))
for i in range(1,11):
    print(i,"X",n,"=",i*n)

Enter the number:  3

1 X 3 = 3
2 X 3 = 6
3 X 3 = 9
4 X 3 = 12
5 X 3 = 15
6 X 3 = 18
7 X 3 = 21
8 X 3 = 24
9 X 3 = 27
10 X 3 = 30

In [3]:
for i in range(1,6):
    for j in range(i):
        print("*",end="")
    print()

*
**
***
****
*****

Data Structures: List, Dictionary, Tuple, Set
1. Create a list of 5 fruits and print them using a loop.
2. Create a dictionary of 3 students with their marks and print each name with marks.
3. Define a tuple with 5 even numbers and print the third item.
4. Create a set with duplicate values and print the unique items.

In [4]:
l=['apple','banana','grapes','mango','cherry']
for i in l:
    print(i)

apple
banana
grapes
mango
cherry

In [5]:
d={"Nima":95,"Pavithra":100,"Sakhil":97}
for i in d:
    print(i,d[i])

Nima 95
Pavithra 100
Sakhil 97

In [6]:
t=(2,4,6,8,10)
print(t[2])

6

In [7]:
set={1,2,3,2,5}
print(set)

{1, 2, 3, 5}

Indexing and Slicing
Given a string 'PythonProgramming':
- Print the first 6 characters
- Print the last 6 characters
- Print every second character
- Reverse the string

In [8]:
s="PythonProgramming"
print(s[:7:])
print(s[:7:-1])
print(s[::2])
print(s[::-1])

PythonP
gnimmargo
PtoPormig
gnimmargorPnohtyP

List Comprehensions
1. Generate a list of squares from 1 to 10 using list comprehension.
2. Create a list of even numbers from 1 to 50 using list comprehension.
3. From a list of strings, create a new list containing strings longer than 5 characters.

In [9]:
l=[i**2 for i in range(1,11)]
print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [10]:
l=[i for i in range(2,51,2)]
print(l)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [11]:
l1=["school","book","pen","blackboard","chalk"]
l2=[i for i in l1 if len(i)>5]
print(l2)

['school', 'blackboard']

Functions and Recursion
1. Write a function to check if a number is prime.
2. Write a recursive function to compute factorial of a number.
3. Write a function that takes a list and returns the sum of its elements.

In [12]:
def prime(n):
    flag=0
    for i in range(2,(n//2)+1):
           if n%i==0:
                print("not prime")
                flag=1
    if flag==0:
        print("its a prime")

n= int(input("Enter the number: "))
prime(n)

Enter the number:  7

its a prime

In [13]:
def factorial(n):
    if n<=1:
        return 1
    else:
        return n*factorial(n-1)
n= int(input("Enter the number: "))
print(f"Factorial of {n} = {factorial(n)}")

Enter the number:  5

Factorial of 5 = 120

In [14]:
def sum(l):
    sum=0
    for i in l:
        sum=sum+i
    print("Sum=",sum)

l=eval(input("Enter the list: "))
sum(l)

Enter the list:  1,2,3,4

Sum= 10

Object-Oriented Programming: class, object, constructor, getters/setters
1. Define a class 'Student' with attributes name and grade.
2. Write a constructor to initialize the attributes.
3. Create getter and setter methods for name and grade.
4. Create two student objects and print their details using the getters.

In [15]:
class Student:
    def __init__(self,name,grade):
        self.name= name
        self.grade= grade
    def get_name(self):
        return self.name
    def get_grade(self):
        return self.grade

    def set_name(self,name):
        self.name=name
    
    def set_grade(self,grade):
        self.grade=grade

s1=Student('A',1)
s2=Student('B',2)

print(s1.name,s1.grade)

A 1

In [16]:
s3=Student('C',3)
s3.set_grade(6)
print(s3.get_grade())

6